$base-color: #0b0c10;
$secondary-color-1: #1f2833;
$secondary-color-2: #c5c6c7;
$tertiary-color-1: #45a29e;
$tertiary-color-2: #66fcf1;

.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
    right: 10rem;
  }
  
  .dropdown-menu li {
    background: $secondary-color-1;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: $secondary-color-2;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $tertiary-color-1;
    padding: 16px;

    &:hover {
      color: $tertiary-color-2;
    }
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }