$base-color: #0b0c10;
$secondary-color-1: #1f2833;
$secondary-color-2: #c5c6c7;
$tertiary-color-1: #45a29e;
$tertiary-color-2: #66fcf1;

.all-skills {
    display: relative;
    //margin-top: -100px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 65vw;
    margin: 0 auto;

    .skill-element {
        background-color: rgba($color:#c5c6c7 , $alpha: 0.5);
        margin: 1.5rem;
        padding: 0.5rem;
        width: 180px;
        border: 3px solid $tertiary-color-1;
        border-radius: 15%;
    }
}

.skills-header-container {
    text-align: center;
}

.skills-header {
    color: $tertiary-color-2;
    font-size: 70px;
}
@media screen and (max-width: 1680px) {
    .all-skills {
        display: relative;
        margin-top: -50px;
    }

}
@media screen and (max-width: 1580px) {
    .all-skills {
        display: relative;
        margin-top: -150px;
    }
}
@media screen and (max-width: 1380px) {
    .all-skills {
        display: relative;
        margin-top: -200px;
    }

}
@media screen and (max-width: 1280px) {
    .all-skills {
        display: relative;
        margin-top: -300px;
    }

    .skills-container {
        width: 90vw;
        .skill-element {
            width: 100px;
        }
    }

}
@media screen and (max-width: 1180px) {
    .all-skills {
        display: relative;
        margin-top: -450px;
    }
}
@media screen and (max-width: 1150px) {
    .all-skills {
        display: relative;
        margin-top: -350px;
    }
}
@media screen and (max-width: 1080px) {
    .all-skills {
        display: relative;
        margin-top: -480px;
    }
}
