$base-color: #0b0c10;
$secondary-color-1: #1f2833;
$tertiary-color-1: #45a29e;

div > img {
    width: 100vw;
    height: auto;
}

.header-div-title {
    position: absolute;
    top: 200px;
    display: flex;
    width: 100vw;
    z-index: -4;
    justify-content: center;
}

.test-style {
    color: $tertiary-color-1;
    position: relative;
    font-size: 100px;
}

.container {
    position: relative;
}

.city,
.mountains,
.sky {
    position: relative;
    width: 100%;
}

.sky {
    bottom: 10rem;
    z-index: -5;
}

.mountains {
    bottom: 38rem;
    z-index: -4;
    right: 1px;
}

.city {
    bottom: 73rem;
    z-index: -3;
}
@media screen and (max-width: 960px) {
    .city,
    .mountains {
        display: none;
    }

    .sky {
        position: relative;
        width: 100vw;
        height: auto;
    }
}
@media screen and (max-width: 1150px) {
    .container {
        position: relative;
    }

    .city,
    .mountains,
    .sky {
        position: relative;
        width: 100%;
    }

    .sky {
        bottom: 10rem;
        z-index: -5;
    }

    .mountains {
        bottom: 35rem;
        z-index: -4;
    }

    .city {
        bottom: 65rem;
        z-index: -3;
    }

}
@media screen and (min-width: 1300px) {

    .container {
        position: relative;
    }

    .city,
    .mountains,
    .sky {
        position: relative;
        width: 100%;
    }

    .sky {
        bottom: 3rem;
        z-index: -5;
    }

    .mountains {
        bottom: 35rem;
        z-index: -4;
    }

    .city {
        bottom: 72rem;
        z-index: -3;
    }

}
@media screen and (min-width: 1460px) {

    .container {
        position: relative;
    }

    .city,
    .mountains,
    .sky {
        position: relative;
        width: 100%;
    }

    .sky {
        bottom: 3rem;
        z-index: -5;
    }

    .mountains {
        bottom: 40rem;
        z-index: -4;
    }

    .city {
        bottom: 82rem;
        z-index: -3;
    }

}
@media screen and (min-width: 1680px) {
    .container {
        position: relative;
    }

    .city,
    .mountains,
    .sky {
        position: relative;
        width: 100%;
    }

    .sky {
        bottom: 3rem;
        z-index: -5;
    }

    .mountains {
        bottom: 50rem;
        z-index: -4;
    }

    .city {
        bottom: 100rem;
        z-index: -3;
    }

}
